<h2>GOJIRA</h2>
<h3>Meio baleia - meio gorila, para salvar o planeta</h3>
<h4>Que por acaso é uma ótima banda de Prog Metal</h4>

<p>A seguir, veja os maiores inimigos de Gojira!</p>

<ul>
  <% @godzilla_enemies.each do |enemy| %>
    <li><%= enemy %></li>
  <% end %>
</ul>
